In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beyneu,KZ,2020-08-21 19:23:14,45.32,55.20,73.98,53,100,4.56
1,1,Fairbanks,US,2020-08-21 19:23:14,64.84,-147.72,57.99,93,75,1.43
2,2,Mayumba,GA,2020-08-21 19:23:14,-3.43,10.66,73.38,85,93,4.97
3,3,Karratha,AU,2020-08-21 19:22:36,-20.74,116.85,71.01,31,0,8.95
4,4,Bluff,NZ,2020-08-21 19:23:14,-46.60,168.33,46.99,97,54,3.00

In [3]:
#Get the data types - "The data we use for any mapping must be either an integer or a floating-point decimal number"
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beyneu,KZ,2020-08-21 19:23:14,45.32,55.20,73.98,53,100,4.56
2,2,Mayumba,GA,2020-08-21 19:23:14,-3.43,10.66,73.38,85,93,4.97
3,3,Karratha,AU,2020-08-21 19:22:36,-20.74,116.85,71.01,31,0,8.95
10,10,Rikitea,PF,2020-08-21 19:23:15,-23.12,-134.97,65.79,67,0,22.12
12,12,Vaini,TO,2020-08-21 19:23:15,-21.20,-175.20,73.40,100,40,3.36
13,13,Puerto Baquerizo Moreno,EC,2020-08-21 19:23:15,-0.90,-89.60,71.60,73,75,14.99
14,14,Thompson,CA,2020-08-21 19:23:15,55.74,-97.86,62.60,67,75,10.29
15,15,Fengxian,CN,2020-08-21 19:23:15,34.70,116.59,67.87,96,48,3.76
19,19,Ribeira Grande,PT,2020-08-21 19:23:15,38.52,-28.70,73.40,69,75,4.70
23,23,Hare Bay,CA,2020-08-21 19:23:13,48.85,-54.01,73.40,38,40,13.87

In [15]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp    Lat     Lng Hotel Name
0                    Beyneu      KZ     73.98  45.32   55.20
2                   Mayumba      GA     73.38  -3.43   10.66
3                  Karratha      AU     71.01 -20.74  116.85
10                  Rikitea      PF     65.79 -23.12 -134.97
12                    Vaini      TO     73.40 -21.20 -175.20
13  Puerto Baquerizo Moreno      EC     71.60  -0.90  -89.60
14                 Thompson      CA     62.60  55.74  -97.86
15                 Fengxian      CN     67.87  34.70  116.59
19           Ribeira Grande      PT     73.40  38.52  -28.70
23                 Hare Bay      CA     73.40  48.85  -54.01

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Beyneu,KZ,73.98,45.32,55.20,NUR
2,Mayumba,GA,73.38,-3.43,10.66,LIKWALE LODGE
3,Karratha,AU,71.01,-20.74,116.85,ibis Styles Karratha
10,Rikitea,PF,65.79,-23.12,-134.97,Pension Maro'i
12,Vaini,TO,73.40,-21.20,-175.20,Keleti Beach Resort
13,Puerto Baquerizo Moreno,EC,71.60,-0.90,-89.60,Hotel los Algarrobos
14,Thompson,CA,62.60,55.74,-97.86,Burntwood Hotel
15,Fengxian,CN,67.87,34.70,116.59,Tongrenju Hotel
19,Ribeira Grande,PT,73.40,38.52,-28.70,Quinta da Meia Eira
23,Hare Bay,CA,73.40,48.85,-54.01,

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))